  .App {
    text-align: center;
  }

@media screen and (max-width: 400px){
  .bar img{
    width: 25px;
    height: 25px;
   
  }
 }  
 .bar input{
 
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
  
    outline: none;
    color: #a1a1a1;
    background: white;
  
 }
.bar img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}