  .App {
    text-align: center;
    background-color: white;
    
  }
.h1{
  font-size: 3rem;
  text-align: center;
}

 .bar input{
 
    flex: 1;
    border: none;
    font-size: 1.5rem;
    font-family: var(--font-raleway);
    font-weight: 500;
    padding-right: 1rem;
  
    outline: none;
    color: #a1a1a1;
    background: white;
  
 }
.bar img{
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-top: 10px;
  position: relative;
}
.list div {
  
  margin-top: 0.25em;
  border: solid black 2px;
  font-size: 2.5rem;
  padding: 0cm;

}
input.checkbox{
  position: absolute;
  width: 1.75rem;
  height: 1.75rem;;
  left: 3px;
  margin: 1.1em; 
  background-color: green ;

  /*bottom: 32.3rem; */
}
label{
      font: 1em 'Fira Sans', sans-serif;

}